.message-card {
  color: black;
  height: 80vh;
}
.clickRoom{
  font-size: 80px;
}
@media screen and (max-width: 900px) {
  .clickRoom{
    font-size: 40px;
  }
}
.message{
  position: relative;
  z-index: 10;
}
