.signup{
  position: relative;
  top: 30vh;
  margin: auto;
  width: 80vw;
  padding: 20px;
}
.signup-container{
  background: url('https://images.unsplash.com/photo-1553905346-3b6e399115b4?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9');
  background-position: center;
  background-size: cover;
  height: 100vh;
}
